.cabecalho_menuHamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../icons/Menu.svg); /* colocar a imagem do menu no fundo */
    background-repeat: no-repeat; /* nao vai repetir a imagem */
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex; /* deixar os intens felxitens, berando muitas funçoes*/
    justify-content: space-between; /* deixa cada div em um lado das bordas */
    align-items: center ; /* alinhas os itens no meio da linha */
    position: relative; /* libera outros atributos ao elemento */
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.lista_menu{
    display: none;
    position: absolute; /* permite que movimente o elemento no html */
    top: 100%;
}

.conteiner_botao:checked ~ .lista_menu{ /* o cheked detecta se a classe foi selecionada, o ~ procura a tag mais proxima com o nome */
    display: block; 

}

.lista_menu_item , .lista_menu-titulo {
    padding: 1em;
    background-color: var(--branco);

}

.lista_menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista_menu_item {
    background: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

