@import url(/css/header.css); /* link que importa outro css */

:root { 
    /* local que armazena as variaveis do css */
    --cor-de-fundo: #ebecee;
    --branco : #FFFFFF;

}

body {
    background-color: var(--cor-de-fundo);
}
